//  Profile Page Tabs Component Styles
.d-profile-tabs {
  &.mat-mdc-tab-group {
    top: -50px;
    position: relative;
    z-index: 2;
    &.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
      height: 90px;
    }
  }

  .mat-mdc-tab-links {
    height: 90px;
    @media (max-width: 600px) {
      height: 55px;
    }
    
    .mdc-tab__text-label {
      display: flex;
      flex-direction: column;
      i {
        font-size: 3.125rem;
        padding-bottom: 10px;
        @media (max-width: 600px) {
          font-size: 1.4rem;
        }
      }
      span {
        font-weight: 600;
        @media (max-width: 600px) {
          font-size: 78%;
        }
      }
    }
    .mdc-tab {
      height: 100%;
      background-color: white;
      border-right: 1px solid #f9f4f4;
      @media (max-width: 600px) {
        padding-right: 10px;
        padding-left: 10px;
      }
      &.mdc-tab--active {
        background: rgba(0, 118, 215, 1) !important;
        .mdc-tab__text-label {
          i {
           color: white;
          }
          span {
            color: white;
          }
        }
      }
      &:last-of-type {
        border-right: none;
      }
    }
  }
  .mat-mdc-tab-list {
    border-top: 1px solid rgb(194, 192, 192);
    border-bottom: 1px solid rgb(194, 192, 192);
  }

  .mat-mdc-tab-label-container {
    padding-left: 25px;
    padding-right: 25px;
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mat-mdc-tab-body-wrapper {
    padding-top: 30px;
  }
}
