.landing-thumbnail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  figure {
    background-color: #3fbdf1;
    padding: 10px;
    border-radius: 75%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    transition: all 100ms;
    @media (max-width: 960px) {
      height: 100px;
      width: 100px;
      background-size: 80% !important;
    }
    @media (max-width: 600px) {
      height: 80px;
      width: 80px;
      background-size: 75% !important;
    }
    &:hover {
      transform: scale(1.1);
      transition: all 100ms ease-in-out;
    }
  }
}


.doctor-card {
  width: calc(50% - 20px);
  border-radius: 10px;
  box-sizing: border-box;
  .result-wrapper & {
    box-shadow: 0px 5px 9px 2px #b4b3b3;
    padding: 15px;
  }
  @media (max-width: 1280px) {
    width: 100%;
  }
  .mdc-button--outlined {
    background-color: #e8e8e8;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    @media (max-width: 1280px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: 850px) {
      padding-left: 12px;
      padding-right: 12px;
    }
    @media (max-width: 500px) {
      padding-left: 8px;
      padding-right: 8px;
    }
    @media (max-width: 400px) {
      padding-left: 5px;
      padding-right: 5px;
    }
    .mdc-button__label {
      color: #0076d7;
    }
  }
  .mdc-button__label {
    font-family: poppins;
    font-size: 0.68rem;
    @media (max-width: 1280px) {
      font-size:0.85rem;
    }
    @media (max-width: 970px) {
      font-size: 0.75rem;
    }
    @media (max-width: 600px) {
      font-size: 0.85rem;
    }
    @media (max-width: 500px) {
      font-size: 0.75rem;
    }
    @media (max-width: 400px) {
      font-size: 0.68rem;
    }
  }
}

.doctor-dashboard {
  display: flex;
  gap: 10px;
  .image {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 93px;
    .doctor-image {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .hospital-image {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .experience {
      background-color: #0076d7;
      padding: 5px 0px 5px 0px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      margin-top: 0;
      color: #fff;
      text-align: center;
      font-size: 0.938rem;
      @media (max-width: 600px) {
        font-size: 0.838rem;;
      }
      margin-bottom: 5px;
    }
    .price {
      color: #014e86;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.438rem;
      @media (max-width: 600px) {
        font-size: 1.1rem;
      }
    }
  }

  // optimize it
  .doctor-name {
    color: #282e36;
    font-size: 1.138rem;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 14px;
    @media (max-width: 1280px) {
      font-size: 1.4rem;
    }
    @media (max-width: 960px) {
      font-size: 1.3rem;
    }
    @media (max-width: 600px) {
      font-size: 1.138rem;
    }
  }
  .specialization {
    margin-bottom: 8px;
    @media (min-width: 600px) {
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    + span {
      @media (min-width: 600px) {
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
    }
  }

  .profile_icons {
    gap: 5px;
    color: #6d6c6c;
  }

  .add_on {
    font-size: 0.938rem;
    font-weight: 600;
  }
}