<div class="pt-20">
  <h4 class="text-center page-section-title">Detailed Information</h4>
  <p class="text-center d-paragraph-medium">Get all required information about an expert</p>
</div>
<hr class="hr-light" />
<h5 class="page-section-sub-title pt-20">About me:</h5>
<p class="d-paragraph">
  As an orthopedic doctor, I am dedicated to diagnosing, treating, and
  preventing conditions that affect the musculoskeletal system, which includes
  bones, joints, ligaments, tendons, and muscles. With a keen eye for detail and
  an analytical approach, I strive to accurately diagnose the root cause of each
  patient's condition. This allows me to develop personalized treatment plans
  that may include nonsurgical interventions such as physical therapy,
  medication, or injections. When necessary, I am also skilled in performing
  various surgical procedures, employing state-of-the-art techniques to optimize
  outcomes and minimize recovery time.
</p>
<p class="d-paragraph">
  Beyond the operating room, I am committed to educating my patients about their
  conditions, empowering them to actively participate in their own healing
  process. By fostering a collaborative relationship, I aim to ensure that every
  patient feels heard, supported, and well-informed throughout their orthopedic
  journey.
</p>
<p>
  I am dedicated to making a positive impact on the lives of my patients, one
  step at a time.
</p>
<hr class="hr-light" />
<h5 class="page-section-sub-title">Acaadmic Qualification :</h5>
<ul class="d-timeline">
  <li class="item">
    <div class="d-flex">
      <div>
        <h5>Dr. Babasaheb Ambedkar Marathwada University, Aurangabad</h5>
        <p>Graduated</p>
      </div>
      <div>
        <h5>2004</h5>
      </div>
    </div>
  </li>
  <li class="item">
    <div class="d-flex">
      <div>
        <h5>Dr. Babasaheb Ambedkar Marathwada University, Aurangabad</h5>
        <p>Graduated</p>
      </div>
      <div>
        <h5>2004</h5>
      </div>
    </div>
  </li>
  <li class="item">
    <div class="d-flex">
      <div class="">
        <h5>Dr. Babasaheb Ambedkar Marathwada University, Aurangabad</h5>
        <p>Graduated</p>
      </div>
      <div>
        <h5>2004</h5>
      </div>
    </div>
  </li>
</ul>
<!-- Services to be provided -->
<h5 class="page-section-sub-title">Services to be provided:</h5>
<ul class="d-list d-service-list">
  <div fxLayout.sm="column" fxLayout.xs="column" class="d-flex">
    <div class="list-group" fxFlex="1 1 auto">
      <li class="item">Disk slip</li>
      <li class="item">Wrist problems</li>
      <li class="item">Meniscus Injury</li>
      <li class="item">ACL Reconstruction</li>
      <li class="item">Rotator Cuff Injury Treatment</li>
      <li class="item">Ligament Reconstruction</li>
      <li class="item">Arthroscopy</li>
      <li class="item">Cartilage Surgery</li>
    </div>
    <div class="list-group" fxFlex="1 1 auto">
      <li class="item">Cruciate Ligament Reconstruction</li>
      <li class="item">Physiotherapy for Sports Injury Rehabilitation</li>
      <li class="item">Shoulder SLAP (Tear) Lesions</li>
      <li class="item">Bankart Repair</li>
      <li class="item">Reconstruction and Bone Lengthening</li>
      <li class="item">Fracture Treatment</li>
      <li class="item">Limb Lengthening</li>
      <li class="item">Frozen shoulder Physiot herapy</li>
    </div>
    <div class="list-group" fxFlex="1 1 auto">
      <li class="item">Achilles Tendon Rupture Treatment</li>
      <li class="item">Reconstruction & Rehabilitation</li>
      <li class="item">Spinal Disc Surgery</li>
      <li class="item">Correction of deformities</li>
      <li class="item">Joint Dislocation Treatment</li>
      <li class="item">Limb Deformities</li>
      <li class="item">Knee Replacement</li>
      <li class="item">Hip Replacement</li>
    </div>
  </div>
</ul>
<h5 class="page-section-sub-title">Professional experience:</h5>
<ul class="d-timeline">
  <li class="item">
    <div class="d-flex">
      <div>
        <h5>B.J. Medical College and Sassoon General Hospital,</h5>
        <p>Rotatory Intern</p>
      </div>
      <div>
        <h5>(2010-2013)</h5>
      </div>
    </div>
  </li>
  <li class="item">
    <div class="d-flex">
      <div>
        <h5>B.J. Medical College and Sassoon General Hospital,</h5>
        <p>Rotatory Intern</p>
      </div>
      <div>
        <h5>(2010-2013)</h5>
      </div>
    </div>
  </li>
  <li class="item">
    <div class="d-flex">
      <div>
        <h5>B.J. Medical College and Sassoon General Hospital,</h5>
        <p>Rotatory Intern</p>
      </div>
      <div>
        <h5>(2010-2013)</h5>
      </div>
    </div>
  </li>
</ul>
<h5 class="page-section-sub-title">Language known:</h5>
<ul class="d-list d-service-list">
  <div fxLayout="row" class="d-flex">
    <div fxFlex="33.3%" fxLayout="column" fxLayoutGap="10px">
      <li class="item large">Hindi</li>
    </div>
    <div fxFlex="33.3%" fxLayout="column" fxLayoutGap="10px">
      <li class="item large">Marathi</li>
    </div>
    <div fxFlex="33.3%" fxLayout="column" fxLayoutGap="10px">
      <li class="item large">English</li>
    </div>
  </div>
</ul>
<h5 class="page-section-sub-title">Awards:</h5>
<ul class="d-list d-service-list">
  <li class="item large">
    <div class="d-flex" fxLayoutGap="50px">
      <div>
        Best Surgeon Award- Apollo Group
        <p></p>
      </div>
      <div>
        (2010)
      </div>
    </div>
  </li>
  <li class="item large">
    <div class="d-flex" fxLayoutGap="50px">
      <div>
        Best Surgeon Award- Apollo Group
        <p></p>
      </div>
      <div>
        (2010)
      </div>
    </div>
  </li>
</ul>
<h5 class="page-section-sub-title">Membership:</h5>
<ul class="d-list d-service-list">
  <li class="item large">
    Urological Society of India (USI)
  </li>
</ul>
