<h2 class="d-heading-1">Consult Top Doctors Online for Any Health Concern</h2>
<p class="d-paragraph-lead">
  Expert supervision with verified doctors in all specialties
</p>
<div class="home-experts" fxHide.gt-xs>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail dietitian"
        (click)="navigateToSearch('dietitian')"
      >
        <figure></figure>
        <h3>Dietitian</h3>
        <p>Keep your health aligned</p>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail gynecologist"
        (click)="navigateToSearch('gynecologist')"
      >
        <figure></figure>
        <h3>Gynecologist</h3>
        <p>Keep Track with Menstrual health and Pregnancy</p>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail dentist"
        (click)="navigateToSearch('dentist')"
      >
        <figure></figure>
        <h3>Dentist</h3>
        <p>Consult before too late</p>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail orthopedic"
        (click)="navigateToSearch('orthopedic')"
      >
        <figure></figure>
        <h3>Orthopedic</h3>
        <p>Treat a bone related disease</p>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail homeopathy"
        (click)="navigateToSearch('homeopathy')"
      >
        <figure></figure>
        <h3>Homeopathy</h3>
        <p>Treat by minute dose of natural substance</p>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail psychologist"
        (click)="navigateToSearch('psychologist')"
      >
        <figure></figure>
        <h3>Psychologist</h3>
        <p>Expert care for mental heath</p>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail pediatrician"
        (click)="navigateToSearch('pediatrician')"
      >
        <figure></figure>
        <h3>Pediatrician</h3>
        <p>Advance Pediatric care</p>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="landing-thumbnail dermatologist"
        (click)="navigateToSearch('dermatologist')"
      >
        <figure></figure>
        <h3>Dermatologist</h3>
        <p>Consult with a skin expert</p>
      </a>
    </ng-template>
  </owl-carousel-o>
</div>

<div class="d-grid-container" fxHide.lt-sm>
  <a
    class="landing-thumbnail dietitian"
    (click)="navigateToSearch('dietitian')"
  >
    <figure></figure>
    <h3>Dietitian</h3>
    <p>Keep your health aligned</p>
  </a>
  <a
    class="landing-thumbnail gynecologist"
    (click)="navigateToSearch('gynecologist')"
  >
    <figure></figure>
    <h3>Gynecologist</h3>
    <p>Keep Track with Menstrual health and Pregnancy</p>
  </a>
  <a class="landing-thumbnail dentist" (click)="navigateToSearch('dentist')">
    <figure></figure>
    <h3>Dentist</h3>
    <p>Consult before too late</p>
  </a>
  <a
    class="landing-thumbnail orthopedic"
    (click)="navigateToSearch('orthopedic')"
  >
    <figure></figure>
    <h3>Orthopedic</h3>
    <p>Treat a bone related disease</p>
  </a>
  <a
    class="landing-thumbnail homeopathy"
    (click)="navigateToSearch('homeopathy')"
  >
    <figure></figure>
    <h3>Homeopathy</h3>
    <p>Treat by minute dose of natural substance</p>
  </a>
  <a
    class="landing-thumbnail psychologist"
    (click)="navigateToSearch('psychologist')"
  >
    <figure></figure>
    <h3>Psychologist</h3>
    <p>Expert care for mental heath</p>
  </a>
  <a
    class="landing-thumbnail pediatrician"
    (click)="navigateToSearch('pediatrician')"
  >
    <figure></figure>
    <h3>Pediatrician</h3>
    <p>Advance Pediatric care</p>
  </a>
  <a
    class="landing-thumbnail dermatologist"
    (click)="navigateToSearch('dermatologist')"
  >
    <figure></figure>
    <h3>Dermatologist</h3>
    <p>Consult with a skin expert</p>
  </a>
</div>
