// Section 4 - Services
.landing-service-types {
  padding-top: 25px;
  @media (max-width: 960px) {
    padding-top: 20px;
  }
  @media (max-width: 600px) {
    padding-top: 10px;
    .d-paragraph-lead {
      margin-bottom: 0;
    }
  }
}
.d-service-type {
  border: 1px solid rgba(1, 78, 134, 0.25);
  border-radius: 25px;
  margin-bottom: 40px;
  align-items: center;
  padding: 20px 50px;
  gap: 20px;
  .d-home-type-img {
    flex: 1 1 100%;
    justify-content: center;
    display: flex;
    img {
      max-width: 60%;
    }
  }
  @media (max-width: 1280px) {
    padding: 20px 30px;
    .d-home-type-img {
      img {
        max-width: 70%;
      }
    }
  }
  @media (max-width: 960px) {
    padding: 20px 30px;
    .d-home-type-img {
      img {
        max-width: 80%;
      }
    }
  }
  .articles {
    img {
      max-height: 350px;
    }
  }
  @media (max-width: 600px) {
    padding: 20px;
    margin-bottom: 20px;
    .d-home-type-m-img {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      img {
        max-width: 60%;
      }
    }
  }
}
.d-service-box-desc {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  h3 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.5rem;
    color: #014e86;
    @media (max-width: 600px) {
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin-bottom: 5px !important;
      row-gap: 5px;
    }
  }
  @media (max-width: 600px) {
    align-items: center;
  }
}

.d-service-type {
  // carousel caption stye
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 34px;
    padding-bottom: 10px;
    padding-top: 15px;
    height: 100%;
    width: 100%;
    box-shadow: -2px -155px 66px -74px rgba(0, 0, 0, 0.75) inset;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    @media (max-width: 600px) {
      padding-bottom: 0;
      padding-left: 20px;
    }
    h3 {
      color: white;
      font-size: 2rem;
      font-weight: 600;
      text-align: left;
      line-height: 2.1rem;
      @media (max-width: 600px) {
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
    }
  }
  .owl-nav {
    display: none;
  }
  .owl-dots {
    .owl-dot {
      padding-top: 12px;
      @media (max-width: 600px) {
        padding-top: 8px;
      }
      span {
        width: 15px;
        height: 15px;
      }
      &:hover span {
        background-color: #0076d7;
      }
      &.active span {
        transform: scale(1.4);
        background-color: #0076d7;
      }
    }
  }
}
