        
    <div class="pt-20">
      <h4 class="text-center page-section-title">Check available slots:</h4>
      <p class="text-center d-paragraph-medium">Book appointment for the required slot</p>
    </div>

    <hr class="hr-light">


  <div class="doctor-profiles"></div>

    <div class="d-profile pt-20">
      
      <div class="doctor-dashboard">
        <div class="image">
          <img src="../../assets/img/profile.svg" alt="doctor-image" class="doctor-image" />
          <p class="experience">5 Years</p>
          <p fxHide.gt-xs class="price mb-0">$300</p>
        </div>
      </div>
      <div class="doctor-details">   
        <strong class="doctor-name d-block">Dr. Rekha Mahajan</strong>
        <span class="specialization d-block">Cardiologist</span>
        <span class="d-block mb-10">MBBS, Diploma in Cardiology</span>
        <div class="d-flex-center mb-5">
          <mat-icon role="img" class="mat-icon" aria-hidden="true" data-mat-icon-type="font">people</mat-icon>
          <span class="pl-10">100 Patient Stories</span>
        </div>
        <div class="buttons">
          <button mat-flat-button color="primary">View Profile</button>
        </div>
      </div>
    

      <div id="bookslot-time" class="text-center"> Thu<br> 02:00 PM - 07:00 PM </div>
      <div>
        <div class="rating-band">
          <div class="rate-badge">
            <mat-icon>star_border</mat-icon>
          </div>
          <div class="rating-stars">
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
          </div>
          <div class="rete-count">
            <span class="">100 ratings</span>
          </div>
        </div>

        <div class="buttons">
          <button mat-raised-button color="primary">Book Slot</button>
        </div>
      </div>
    </div>

    <hr class="hr-light">
  
      <div class="d-profile pt-20">
      
        <div class="doctor-dashboard">
          <div class="image">
            <img src="../../assets/img/profile.svg" alt="doctor-image" class="doctor-image" />
            <p class="experience">5 Years</p>
            <p fxHide.gt-xs class="price mb-0">$300</p>
          </div>
        </div>
        <div class="doctor-details">   
          <strong class="doctor-name d-block">Dr. Rekha Mahajan</strong>
          <span class="specialization d-block">Cardiologist</span>
          <span class="d-block mb-10">MBBS, Diploma in Cardiology</span>
          <div class="d-flex-center mb-5">
            <mat-icon role="img" class="mat-icon" aria-hidden="true" data-mat-icon-type="font">people</mat-icon>
            <span class="pl-10">100 Patient Stories</span>
          </div>
          <div class="buttons">
            <button mat-flat-button color="primary">View Profile</button>
          </div>
        </div>
  
        <div id="bookslot-time" class="text-center"> Thu<br> 02:00 PM - 07:00 PM </div>
        <div>
          <div class="rating-band">
            <div class="rate-badge">
              <mat-icon>star_border</mat-icon>
            </div>
            <div class="rating-stars">
              <mat-icon>star_border</mat-icon>
              <mat-icon>star_border</mat-icon>
              <mat-icon>star_border</mat-icon>
              <mat-icon>star_border</mat-icon>
              <mat-icon>star_border</mat-icon>
            </div>
            <div class="rete-count">
              <span class="">100 ratings</span>
            </div>
          </div>
  
          <div class="buttons">
            <button mat-raised-button color="primary">Book Slot</button>
          </div>
        </div>
      </div>


      <hr class="hr-light">


        <div class="d-profile pt-20">
      
          <div class="doctor-dashboard">
            <div class="image">
              <img src="../../assets/img/profile.svg" alt="doctor-image" class="doctor-image" />
              <p class="experience">5 Years</p>
              <p fxHide.gt-xs class="price mb-0">$300</p>
            </div>
          </div>
          <div class="doctor-details">   
            <strong class="doctor-name d-block">Dr. Rekha Mahajan</strong>
            <span class="specialization d-block">Cardiologist</span>
            <span class="d-block mb-10">MBBS, Diploma in Cardiology</span>
            <div class="d-flex-center mb-5">
              <mat-icon role="img" class="mat-icon" aria-hidden="true" data-mat-icon-type="font">people</mat-icon>
              <span class="pl-10">100 Patient Stories</span>
            </div>
            <div class="buttons">
              <button mat-flat-button color="primary">View Profile</button>
            </div>
          </div>
    
          <div id="bookslot-time" class="text-center"> Thu<br> 02:00 PM - 07:00 PM </div>
          <div>
            <div class="rating-band">
              <div class="rate-badge">
                <mat-icon>star_border</mat-icon>
              </div>
              <div class="rating-stars">
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
              </div>
              <div class="rete-count">
                <span class="">100 ratings</span>
              </div>
            </div>
    
            <div class="buttons">
              <button mat-raised-button color="primary">Book Slot</button>
            </div>
          </div>
        </div>


        <hr class="hr-light">

          <div class="d-profile pt-20">
      
            <div class="doctor-dashboard">
              <div class="image">
                <img src="../../assets/img/profile.svg" alt="doctor-image" class="doctor-image" />
                <p class="experience">5 Years</p>
                <p fxHide.gt-xs class="price mb-0">$300</p>
              </div>
            </div>
            <div class="doctor-details">   
              <strong class="doctor-name d-block">Dr. Rekha Mahajan</strong>
              <span class="specialization d-block">Cardiologist</span>
              <span class="d-block mb-10">MBBS, Diploma in Cardiology</span>
              <div class="d-flex-center mb-5">
                <mat-icon role="img" class="mat-icon" aria-hidden="true" data-mat-icon-type="font">people</mat-icon>
                <span class="pl-10">100 Patient Stories</span>
              </div>
              <div class="buttons">
                <button mat-flat-button color="primary">View Profile</button>
              </div>
            </div>
      
            <div id="bookslot-time" class="text-center"> Thu<br> 02:00 PM - 07:00 PM </div>
            <div class="rate-slot-button">
              <div class="rating-band">
                <div class="rate-badge">
                  <mat-icon>star_border</mat-icon>
                </div>
                <div class="rating-stars">
                  <mat-icon>star_border</mat-icon>
                  <mat-icon>star_border</mat-icon>
                  <mat-icon>star_border</mat-icon>
                  <mat-icon>star_border</mat-icon>
                  <mat-icon>star_border</mat-icon>
                </div>
                <div class="rete-count">
                  <span class="">100 ratings</span>
                </div>
              </div>
      
              <div class="buttons">
                <button mat-raised-button class="pt-20" color="primary">Book Slot</button>
              </div>
            </div>
          </div>

  
  
    

      
     