

.d-profile{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
}

.rating-band{
    padding-bottom: 25px;
}

.mdc-button__label{
    color: #ffffff !important;
}