<footer class="d-footer" *ngIf="showFooter">
  <div class="container">
    <div class="d-footer-logo">
      <a href="/">
        <img src="../../.././../assets/img/logo_white.svg" alt="Docphine" />
      </a>
    </div>
    <div class="d-footer-columns">
      <div class="d-footer-links-section">
        <div class="d-footer-column">
          <!-- Quick Links: -->
          <h4 class="d-footer-column-title">Quick Links:</h4>
          <ul class="d-footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Terms of services</a></li>
          </ul>
        </div>
        <!-- For Doctors: -->
        <div class="d-footer-column">
          <h4 class="d-footer-column-title">For Doctors:</h4>
          <ul class="d-footer-links">
            <li><a href="#">Profile setting</a></li>
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Clinic rating</a></li>
          </ul>
        </div>
        <!-- For Patients: -->
        <div class="d-footer-column">
          <h4 class="d-footer-column-title">For Patients:</h4>
          <ul class="d-footer-links">
            <li><a href="#">Find doctor</a></li>
            <li><a href="#">Find clinic</a></li>
            <li><a href="#">Find Hospital</a></li>
            <li><a href="#">Book lab test</a></li>
            <li><a href="#">Health articles</a></li>
          </ul>
        </div>
      </div>
      <!-- <div fxHide.gt-xs>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Quick Links: </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="d-footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Terms of services</a></li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> For Doctors: </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="d-footer-links">
              <li><a href="#">Profile setting</a></li>
              <li><a href="#">Promotion</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Clinic rating</a></li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> For Patients: </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="d-footer-links">
              <li><a href="#">Find doctor</a></li>
              <li><a href="#">Find clinic</a></li>
              <li><a href="#">Find Hospital</a></li>
              <li><a href="#">Book lab test</a></li>
              <li><a href="#">Health articles</a></li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div> -->
      <!-- Social Links -->
      <div class="d-footer-social-links">
        <div class="d-footer-column">
          <p class="d-footer-links">Stay connected with DocPhine:</p>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
