<div class="pt-20">
    <h4 class="text-center page-section-title">Detailed Information</h4>
    <p class="text-center d-paragraph-medium">Get all required information about an expert</p>
  </div>
  <hr class="hr-light"/>
  <h5 class="page-section-sub-title pt-20">About me:</h5>
  <p class="d-paragraph">
    The orthopedic care with compassion. Dr. Jawad's team comprises of dedicated Doctors, Operation theater staff, Physiotherapists & support staff who work in tandem & whose respective services complement each other for the total recovery & satisfaction of the patients. 24hrs Ambulance service is provided free of cost. The Hospital has a cashless facility for all insurance health cards & state govt employees. The aarogyasree facility is available.
  </p>
  <p class="d-paragraph">
    Beyond the operating room, I am committed to educating my patients about their
    conditions, empowering them to actively participate in their own healing
    process. By fostering a collaborative relationship, I aim to ensure that every
    patient feels heard, supported, and well-informed throughout their orthopedic
    journey.
  </p>
  

<hr class="hr-light" />
<h5 class="page-section-sub-title">Other centers :</h5>
<div class="hospital-branches">
  <div class="hospital-branch-card">
      <div class="branch-image">
        <img src="../../../assets/img/profile/hospital_branch_image.svg" alt="hospital_branch_image">
      </div>
      <div class="hospital-branch-details">
        <p>Aurangabad Railway Station, Aurangabad</p>
        <p>Tapadia Diagnostic Centre</p>
        <p>bansilal nagar, Landmark: Near Dr Bhapkar Marg, Aurangabad</p>
        <p><a href="location_directions">Get Directions</a></p>
      </div>
      <div class="hospital-profile-button">
        <button mat-raised-button >View Profile</button>
      </div>
  </div>
</div>

<hr class="hr-light" />

<div class="hospital-branches">
  <div class="hospital-branch-card">
      <div class="branch-image">
        <img src="../../../assets/img/profile/hospital_branch_image.svg" alt="hospital_branch_image">
      </div>
      <div class="hospital-branch-details">
        <p>Aurangabad Railway Station, Aurangabad</p>
        <p>Tapadia Diagnostic Centre</p>
        <p>bansilal nagar, Landmark: Near Dr Bhapkar Marg, Aurangabad</p>
        <p><a href="location_directions">Get Directions</a></p>
      </div>
      <div class="hospital-profile-button">
        <button mat-raised-button >View Profile</button>
      </div>
  </div>
</div>

<hr class="hr-light" />

<div class="hospital-branches">
  <div class="hospital-branch-card">
      <div class="branch-image">
        <img src="../../../assets/img/profile/hospital_branch_image.svg" alt="hospital_branch_image">
      </div>
      <div class="hospital-branch-details">
        <p>Aurangabad Railway Station, Aurangabad</p>
        <p>Tapadia Diagnostic Centre</p>
        <p>bansilal nagar, Landmark: Near Dr Bhapkar Marg, Aurangabad</p>
        <p><a href="location_directions">Get Directions</a></p>
      </div>
      <div class="hospital-profile-button">
        <button mat-raised-button >View Profile</button>
      </div>
  </div>
</div>

<hr class="hr-light" />

<div class="hospital-branches">
  <div class="hospital-branch-card">
      <div class="branch-image">
        <img src="../../../assets/img/profile/hospital_branch_image.svg" alt="hospital_branch_image">
      </div>
      <div class="hospital-branch-details">
        <p>Aurangabad Railway Station, Aurangabad</p>
        <p>Tapadia Diagnostic Centre</p>
        <p>bansilal nagar, Landmark: Near Dr Bhapkar Marg, Aurangabad</p>
        <p><a href="location_directions">Get Directions</a></p>
      </div>
      <div class="hospital-profile-button">
        <button mat-raised-button >View Profile</button>
      </div>
  </div>
</div>

<hr class="hr-light" />

<div class="hospital-branches">
  <div class="hospital-branch-card">
      <div class="branch-image">
        <img src="../../../assets/img/profile/hospital_branch_image.svg" alt="hospital_branch_image">
      </div>
      <div class="hospital-branch-details">
        <p>Aurangabad Railway Station, Aurangabad</p>
        <p>Tapadia Diagnostic Centre</p>
        <p>bansilal nagar, Landmark: Near Dr Bhapkar Marg, Aurangabad</p>
        <p><a href="location_directions">Get Directions</a></p>
      </div>
      <div class="hospital-profile-button">
        <button mat-raised-button >View Profile</button>
      </div>
  </div>
</div>


<hr class="hr-light" />

<h5 class="page-section-sub-title pt-20">Services to be provided:</h5>

<div class="services-list pt-20">
 
  <div class="d-list-services">
    <ul class="d-timeline">
      <li class="item">
        <div class="d-flex">
          <div>
            <p>Disk slip </p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div>
            <p>Wrist problems</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Meniscus Injury</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>ACL Reconstruction</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Rotator Cuff Injury Treatment</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Ligament Reconstruction</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Arthroscopy</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Cartilage Surgery</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="d-list-services">
    <ul class="d-timeline">
      <li class="item">
        <div class="d-flex">
          <div>
            <p>Cruciate Ligament Reconstruction</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div>
            <p>Physiotherapy for Sports Injury Rehabilitation</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Shoulder SLAP (Tear) Lesions</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Bankart Repair</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Reconstruction and Bone Lengthening</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Fracture Treatment</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Limb Lengthening</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Frozen shoulder Physiot herapy</p>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="d-list-services">
    <ul class="d-timeline">
      <li class="item">
        <div class="d-flex">
          <div>
            <p>Achilles Tendon Rupture Treatment</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div>
            <p>Reconstruction & Rehabilitation</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Spinal Disc Surgery</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Correction of deformities</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Joint Dislocation Treatment</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Limb Deformities</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Knee Replacement</p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="d-flex">
          <div class="">
           <p>Hip Replacement</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>