<div class="banner-container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="banner-card">
        <div class="banner-content">
          <h1 class="banner-title">WE CARE FOR YOU</h1>
          <h1 class="banner-title pl">AND YOUR HEALTH</h1>
          <p class="banner-description">
            Reach out now simply and in most convenient manner
          </p>
        </div>
        <div class="banner-image">
          <img src="../../assets/img/home_banner_1.svg" alt="Banner Image" />
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="banner-card">
        <div class="banner-image">
          <img src="../../assets/img/home_banner_2.svg" alt="Banner Image" />
        </div>
        <div class="banner-content">
          <h1 class="banner-title">FREE OLINE BOOKING</h1>
          <h1 class="banner-title pl">FOR CONSULTATION</h1>
          <p class="banner-description">
            Book free clinic visits, online consultations, <br />
            lab tests and surgeries
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="banner-card">
        <div class="banner-content">
          <h1 class="banner-title">ONLINE PURCHASE</h1>
          <h1 class="banner-title pl">FOR MEDICINE</h1>
          <p class="banner-description">
            Book free clinic visits, online consultations, <br />
            lab tests and surgeries
          </p>
        </div>
        <div class="banner-image">
          <img src="../../assets/img/home_banner_3.svg" alt="Banner Image" />
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>