<div class="search-banner-container">
  <div class="banner-content docphine-main">
    <div class="banner-card">
      <img src="../../assets/img/banner1.svg" alt="Banner Image" />
    </div>
    <div class="banner-description">
      <h2 class="banner-title">Expert consulting on your fingertips</h2>
      <p>Book your first consultation appointment with your preferred expert</p>
    </div>
  </div>
</div>

<!-- <div class="search-banner-seperator"></div> -->

<div class="search-page-content docphine-main">
  <h2 class="d-heading-1">Check with other services</h2>
  <div class="d-grid-container">
    <a
      class="landing-thumbnail pharmacy"
      (click)="navigateToResults('pharmacy')"
    >
      <figure></figure>
      <h3>Pharmacy</h3>
      <p>Order your prescripted medicine online</p>
    </a>
    <a class="landing-thumbnail tests" (click)="navigateToResults('tests')">
      <figure></figure>
      <h3>Tests</h3>
      <p>Book an appointment for lab test for free</p>
    </a>
    <a
      class="landing-thumbnail diagnosis"
      (click)="navigateToResults('diagnosis')"
    >
      <figure></figure>
      <h3>Diagnosis</h3>
      <p>Book appointment for best treatment</p>
    </a>
  </div>
</div>
