<div class="lab-profile-header">
    <h3 class="profile-header">Detailed Information:</h3>
    <p>Get all required information about an expert</p>
</div>

<hr class="hr-light" />
<p class="offers-header header">Offers for November 2023</p>


<div class="">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let a of[1,2,3]">
            <div class="offers-section">

                <div class="offer-available">
                    <div class="offer-img">
                        <img src="../../../assets/icons/labtest_icons/offer_icon.svg" alt="icon">
                    </div>
                    <div class="offer-description">
                        <p class="available-offer">Appointments after 8pm: <b>28% discount</b></p>
                    </div>
                </div>



                

            </div>
        </ng-template>
    </owl-carousel-o>
</div>


<div class="contact-details">
    <div class="address">
        <p class="address-heading header">Clinics Address</p>
        <p class="c-address">
            MIG - 148 - I - NCK 24/240, Road No 1 KPHB Colony,<br>
            Opposite To Sankhya Hospital,<br> Kukatpally,
            Hyderabad - 500072, Kukatpally,<br> Hyderabad - 500072
        </p>

        <a class="location direction-link" href="">Get Directions</a>
    </div>

    <div>
        <div class="contact">
            <p class="header">Centre contact:</p>
            <div class="ph-details">
                <img src="../../../../assets/icons/lab-profile/phone-symbol.svg" alt="">
                <p class="c-number">+1 12345 67890</p>
            </div>
        </div>
        <div class="timing-details">
            <p class="header">Centre timings: </p>
            <p> </p>
            <p></p>
            <label for="time-table" class="lable-color">Open today :</label>
            <select name="time" id="timings" class="center-timings">
                <option value="sunday">
                    <p>sunday:</p>12:00 AM to 11:59 PM
                </option>
                <option value="monday">
                    <p>monday:</p>12:00 AM to 11:59 PM
                </option>
                <option value="tuesday">
                    <p>tuesday:</p>12:00 AM to 11:59 PM
                </option>
                <option value="wednesday">
                    <p>wednesday:</p>12:00 AM to 11:59 PM
                </option>
                <option value="thurday">
                    <p>thurday:</p>12:00 AM to 11:59 PM
                </option>
                <option value="friday">
                    <p>friday:</p>12:00 AM to 11:59 PM
                </option>
                <option value="saturday">
                    <p>saturday:</p>12:00 AM to 11:59 PM
                </option>
            </select>
        </div>
    </div>


</div>

<div class="branch-section">

    <div class="branch-section-header">
        <p><b>Other Centers</b></p>
    </div>

    <div class="branch-details">
        <div class="branch-image">
            <img src="../../../assets/img/lab_branch_imgs/branch_img1.svg" alt="image">
        </div>
        <div class="branch-address">
            <p> <span>MIG - 148 - I - NCK 24/240</span>, <span>Road No 1 KPHB Colony</span>, <span>Opposite To Sankhya
                    Hospital</span>, <span>Kukatpally</span>, <span>Hyderabad - 500072</span>, <span>Kukatpally</span>,
                <span>Hyderabad - 500072</span>
            </p>
            <div class="direction-link">
                <a href="" class="direction-link">Get Directions</a>
            </div>
        </div>

        <div class="contact-information">

            <div class="contact-number">
                <img src="../../../../assets/icons/lab-profile/phone-symbol.svg" alt="">
                <p class="c-number">+91 9876543210</p>
            </div>
            <div class="view-profile-button">
                <button mat-button class="lab-branch-button">View Profile</button>
            </div>
        </div>


    </div>

    <div class="branch-details">
        <div class="branch-image">
            <img src="../../../assets/img/lab_branch_imgs/lab_branch_img2.svg" alt="image">
        </div>
        <div class="branch-address">
            <p><span>MIG - 148 - I - NCK 24/240</span>, <span>Road No 1 KPHB Colony</span>, <span>Opposite To Sankhya
                Hospital</span>, <span>Kukatpally</span>, <span>Hyderabad - 500072</span>, <span>Kukatpally</span>,
            <span>Hyderabad - 500072</span></p>
            <div class="direction-link">
                <a href="" class="direction-link">Get Directions</a>
            </div>
        </div>

        <div class="contact-information">

            <div class="contact-number">

                <img src="../../../../assets/icons/lab-profile/phone-symbol.svg" alt="">
                <p class="c-number">+91 9876543210</p>
            </div>
            <div class="view-profile-button">
                <button mat-button class="lab-branch-button">View Profile</button>
            </div>
        </div>


    </div>
    <div class="branch-details">
        <div class="ph-details">
            <img src="../../../assets/img/lab_branch_imgs/lab_branch_img3.svg" alt="image">
        </div>
        <div class="branch-address">
            <p><span>MIG - 148 - I - NCK 24/240</span>, <span>Road No 1 KPHB Colony</span>, <span>Opposite To Sankhya
                Hospital</span>, <span>Kukatpally</span>, <span>Hyderabad - 500072</span>, <span>Kukatpally</span>,
            <span>Hyderabad - 500072</span></p>
            <div class="direction-link">
                <a href="c-number" class="direction-link">Get Directions</a>
            </div>
        </div>

        <div class="contact-information">

            <div class="contact-number">
                <img src="../../../../assets/icons/lab-profile/phone-symbol.svg" alt="">
                <p class="">+91 9876543210</p>
            </div>
            <div class="view-profile-button">
                <button mat-button class="lab-branch-button">View Profile</button>
            </div>
        </div>


    </div>